.news-list {
  padding-top: 30px;
  /*background-color: #582972;
  padding-top: 30px;
  padding-bottom: 25px;*/

  /*.tasks-list-subwrapper {
    width: 900px;
    padding: 0 10px;
    margin: 0 auto;
  }*/
}
